<a href="https://colab.research.google.com/github/DAVIDKSOUSA/ESTUDO-INDFUT/blob/master/Estudo%20%C3%8Dndice%20Futuro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd


df = pd.read_excel("https://github.com/DAVIDKSOUSA/ESTUDO-INDFUT/blob/master/DataFrame%20INDFUT.xlsx?raw=true")
df

           Data  Abertura  ...  Amplitude Diária  Variação Candle.1
0    2020-03-27  74860.00  ...          -4310.00            1535.00
1    2020-03-26  72890.00  ...           3035.00           -4745.00
2    2020-03-25  68890.00  ...           5600.00           -5710.00
3    2020-03-24  67990.00  ...           5135.00           -1010.00
4    2020-03-23  64295.00  ...          -2335.00             430.00
...         ...       ...  ...               ...                ...
4257 2003-01-08  58274.91  ...          -1248.07            1200.06
4258 2003-01-07  58322.92  ...           -480.02               0.00
4259 2003-01-06  57314.86  ...           1776.09           -1488.08
4260 2003-01-03  57362.87  ...             96.01             336.02
4261 2003-01-02  55010.75  ...          56930.84           -1920.09

[4262 rows x 12 columns]