<a href="https://colab.research.google.com/github/DAVIDKSOUSA/ESTUDO-INDFUT/blob/master/Estudo%20%C3%8Dndice%20Futuro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estudo Estatístico do INDFUT

Esse estudo irá trazer *insights* sobre as oscilações de preçoes no ÍNDICE FUTURO do Ibovespa (INDFUT).

In [2]:
#impoetação de bibliotecas.
import pandas as pd

df = pd.read_excel("https://github.com/DAVIDKSOUSA/ESTUDO-INDFUT/blob/master/DataFrame%20INDFUT.xlsx?raw=true", index_col = "Data")
df.head(5)

            Abertura   Máxima  ...  Amplitude Diária  Variação Candle.1
Data                           ...
2020-03-27   74860.0  75800.0  ...           -4310.0             1535.0
2020-03-26   72890.0  78850.0  ...            3035.0            -4745.0
2020-03-25   68890.0  76890.0  ...            5600.0            -5710.0
2020-03-24   67990.0  71575.0  ...            5135.0            -1010.0
2020-03-23   64295.0  69990.0  ...           -2335.0              430.0

[5 rows x 11 columns]

In [4]:
#Análise do tipos de variáveis do meu DataFrame.
df.dtypes

Abertura                 float64
Máxima                   float64
Mínima                   float64
Fechamento               float64
VWAP D                   float64
VWAP S                   float64
Variação Diária          float64
Variação Candle          float64
Volatilidade Intraday    float64
Amplitude Diária         float64
Variação Candle.1        float64
dtype: object

In [6]:
#Verificação de valores ausentes.

df.isnull().sum()

Abertura                 0
Máxima                   0
Mínima                   0
Fechamento               0
VWAP D                   0
VWAP S                   0
Variação Diária          1
Variação Candle          0
Volatilidade Intraday    0
Amplitude Diária         0
Variação Candle.1        0
dtype: int64

ERROR! Session/line number was not unique in database. History logging moved to new session 62

In [10]:
#Eliminando os Valores ausentes.
df.dropna(axis=1)

            Abertura    Máxima  ...  Amplitude Diária  Variação Candle.1
Data                            ...
2020-03-27  74860.00  75800.00  ...          -4310.00            1535.00
2020-03-26  72890.00  78850.00  ...           3035.00           -4745.00
2020-03-25  68890.00  76890.00  ...           5600.00           -5710.00
2020-03-24  67990.00  71575.00  ...           5135.00           -1010.00
2020-03-23  64295.00  69990.00  ...          -2335.00             430.00
...              ...       ...  ...               ...                ...
2003-01-08  58274.91  58754.93  ...          -1248.07            1200.06
2003-01-07  58322.92  58850.94  ...           -480.02               0.00
2003-01-06  57314.86  58898.94  ...           1776.09           -1488.08
2003-01-03  57362.87  58034.89  ...             96.01             336.02
2003-01-02  55010.75  57074.85  ...          56930.84           -1920.09

[4262 rows x 10 columns]

In [11]:
df.isnull().sum()

Abertura                 0
Máxima                   0
Mínima                   0
Fechamento               0
VWAP D                   0
VWAP S                   0
Variação Diária          1
Variação Candle          0
Volatilidade Intraday    0
Amplitude Diária         0
Variação Candle.1        0
dtype: int64

In [12]:
df.describe()

            Abertura         Máxima  ...  Amplitude Diária  Variação Candle.1
count    4262.000000    4262.000000  ...       4262.000000        4262.000000
mean    99564.765406  100653.945547  ...         17.204364         -10.720136
std     26112.991842   26333.626147  ...       2022.870844        1600.728047
min     47171.590000   48233.180000  ...     -12060.000000       -9884.390000
25%     81581.355000   82470.072500  ...       -894.422500        -925.530000
50%     93899.050000   95170.400000  ...         48.640000         -36.630000
75%    115300.340000  116611.632500  ...        962.050000         840.952500
max    184941.560000  185939.890000  ...      56930.840000       10971.440000

[8 rows x 11 columns]